<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/MainCtrl.js"></script>
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">T-I 89</h1>

      </ion-header-bar>
      <ion-content>
      <div class="display">{{output}}</div>
      <div></div>
      <div class="button-bar">
        <a class="button" ng-click="square()">x<sup>2</sup></a>
        <a class="button trig" ng-click="updateTrig('sin')">sin</a>
        <a class="button trig" ng-click="updateTrig('cos')">cos</a>
        <a class="button trig" ng-click="updateTrig('tan')">tan</a>
      </div>
      <div class="button-bar">
        <a class="button" ng-click="sqrt()">√</a>
        <a class="button trig" ng-click="updateTrig('asin')">sin<sup>-1</sup></a>
        <a class="button trig" ng-click="updateTrig('acos')">cos<sup>-1</sup></a>
        <a class="button trig" ng-click="updateTrig('atan')">tan<sup>-1</sup></a>
      </div>
      <div class="button-bar">
        <a class="button" value='1' ng-click="updateOutput(1)">1</a>
        <a class="button" value='2' ng-click="updateOutput(2)">2</a>
        <a class="button" value='3' ng-click="updateOutput(3)">3</a>
        <a class="button symbol" ng-click="updateOperation('/')">÷</a>
      </div>
      <div class="button-bar">
        <a class="button" value='4' ng-click="updateOutput(4)">4</a>
        <a class="button" value='5' ng-click="updateOutput(5)">5</a>
        <a class="button" value='6' ng-click="updateOutput(6)">6</a>
        <a class="button symbol" ng-click="updateOperation('*')">x</a>
      </div>
      <div class="button-bar">
        <a class="button" value='7' ng-click="updateOutput(7)">7</a>
        <a class="button" value='8' ng-click="updateOutput(8)">8</a>
        <a class="button" value='9' ng-click="updateOutput(9)">9</a>
        <a class="button symbol" ng-click="updateOperation('+')">+</a>
      </div>
      <div class="button-bar">
        <a class="button" value='0' ng-click="updateOutput(0)">0</a>
        <a class="button" id="myBtn" ng-click="updateOutput('-'); disable()">+/-</a>
        <a class="button" id="myBtn" ng-click="updateOutput('.'); disable()">.</a>
        <a class="button symbol" ng-click="updateOperation('-')">-</a>
      </div>
      <div class="button-bar">
        <a class="button clear" ng-click="clear()">clear</a>
        <a class="button equal" ng-click="calculate()">=</a>
      </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
