/* Empty. Add your own CSS if you like */
ion-content {
  background: black;
}

.trig {
  background: lightblue;
}

.symbol {
  background: blue;
  color: white;
}

.clear {
  background: green;
  color: white;
}

.equal {
  background: goldenrod;
  color: white;
}

.display{
  font-size: 30px;
  margin: 10px;
  text-align: right;
  color: white;
}
